{% extends 'base.html.twig' %}
{% set no_login = true %}
{% block title %}Log in to your {{site_name}} account{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
{% include("security/form.html.twig") with {"last_username":last_username} %}
{% endblock %}
